<section class="py-4">
	<div class="container">
        <h3>Edit</h3>
        <h6>Product</h6>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form #f="ngForm" (ngSubmit)="updateProduct()">
                    <input type="hidden" name="id" [(ngModel)]="productDetails.id">

                    <div class="mb-3 row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" name="name" [(ngModel)]="productDetails.name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCategory" name="category" [(ngModel)]="productDetails.category">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDescription" name="description" [(ngModel)]="productDetails.description">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputPrice" name="price" [(ngModel)]="productDetails.price">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="d-grid col-sm-10">
                            <input class="btn btn-outline-primary" name="submit" type="submit" value="Save" />
                        </div>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</section>
